<header class="mb-3">
    <nav class="navbar bg-light">
        <div class="container">
            <a *ngIf="!isLogedUser()" class="navbar-brand" href="/home">Free Access</a>
            <a *ngIf="isLogedUser()" class="navbar-brand" href="/home-premiun">Premiun</a>
            <form class="d-flex">
                <div class="btn-group" *ngIf="isLogedUser()">
                    <button class="btn btn-warning text-white"> {{(authorsSaved.length + worksSaved.length)}} Favorites
                        <i class="bi bi-star-fill"></i> </button>
                </div>
                <div *ngIf="isLogedUser()" class="btn-group dropstart" style="margin: 0px 6px;">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                        data-bs-display="static" aria-expanded="false">
                        Favorite Authors
                    </button>
                    <span class="count">{{(authorsSaved.length)}}</span>
                    <ul class="dropdown-menu">
                        <li *ngFor="let author of authorsSaved" style="display: flex; margin-bottom: 6px;">
                            <a class="dropdown-item" href="/author/{{author}}">{{author}}</a>
                            <button (click)="deleteAuthor(author)" class="btn btn-danger" style="margin:0px 6px;"><i
                                    class="bi bi-trash"></i></button>
                        </li>
                    </ul>
                </div>
                <div *ngIf="isLogedUser()" class="btn-group dropstart" style="margin: 0px 6px;">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                        data-bs-display="static" aria-expanded="false">
                        Favorite Works
                    </button>
                    <span class="count">{{(worksSaved.length)}}</span>
                    <ul class="dropdown-menu">
                        <li *ngFor="let work of worksSaved" style="display: flex; margin-bottom: 6px;">
                            <a class="dropdown-item" href="/work/{{work.title}}">{{work.title}}</a>
                            <button (click)="deleteWork(work.title!)" class="btn btn-danger" style="margin:0px 6px;"><i
                                    class="bi bi-trash"></i></button>
                        </li>
                    </ul>
                </div>
                <button *ngIf="!isLogedUser()" class="btn btn-outline-success" [routerLink]="['/login']">Login</button>
                <button *ngIf="isLogedUser()" class="btn btn-outline-danger" (click)="logOut()"
                    [routerLink]="['/login']">LogOut</button>
            </form>
        </div>
    </nav>
</header>