<app-header></app-header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Login
                    </h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="user_name" class="form-label">User Name</label>
                            <input [(ngModel)]="user.userName" name="userName" type="text" class="form-control"
                                id="user_name" placeholder="enter your user name">
                        </div>
                        <div class="mb-3">
                            <label for="user_name" class="form-label">Password</label>
                            <input [(ngModel)]="user.password" name="password" type="password" class="form-control"
                                id="user_name" placeholder="enter your password">
                        </div>
                        <div class="mb-3 w-100">
                            <button class="btn btn-primary w-100" (click)="login()">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>