<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12 mb-3">
            <h2>Author List</h2>
        </div>
        <div class="col-md-12">
            <div class="row justify-content-around">
                <div class="col-md-3 m-3 author" *ngFor="let author of authors">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5>{{author}}</h5>
                        </div>
                        <div class="card-footer"
                            style="display: flex; align-items: center; justify-content: space-between;">
                            <button class="btn btn-primary" [routerLink]="['/author/',author]">Show Details</button>
                            <button *ngIf="isLogedUser()" class="btn btn-success text-white">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>